.profile{
  max-width: 600px;
  margin: 10px auto;
}
.profileframe{
  display: flex;
  justify-content: space-evenly;
}
.profilepic > img{
  width: 160px;
  height: 160px;
  object-fit: contain;
  border-radius: 100%;
  margin-right: 30px;
}
.profiledata{
  text-align: left;
}
.gallery{
  display: flex;
  flex-wrap:wrap;
  text-align: center;
}
.gallery img{
  width: 52%;
  height: 52%;
  margin: 03px;
}
.profile-pic:hover{
  cursor: pointer;
  transform: scale(0.95);
  opacity: 0.8;
}
.gallery :hover{
  cursor: pointer;
  transform: scale(1.3);
}